@using PlayersBay.Data.Models
@inject UserManager<ApplicationUser> UserManager

<div class="row" style="margin: 20px;">
    <div class="col-md-offset-1 col-md-4 text-center">
            <ul class="nav nav-pills nav-stacked text-center">
                <li>
                    <a asp-controller="Messages" asp-action="Inbox" asp-route-username="@this.UserManager.GetUserName(this.User)">My Messages</a>
                </li>
                <li>
                    <a asp-controller="Transfers" asp-action="All" asp-route-username="@this.UserManager.GetUserName(this.User)">Transfers</a>
                </li>
                <li>
                    <a href="/Identity/Account/Manage/ChangePassword">Change Password</a>
                </li>
            </ul>
    </div>

    <div class="col-md-4 text-center">
        <ul class="nav nav-pills nav-stacked text-center">
            <li>
                <a asp-controller="Offers" asp-action="ActiveOffers" asp-route-username="@this.UserManager.GetUserName(this.User)">Active offers</a>
            </li>
            <li>
                <a asp-controller="Offers" asp-action="SoldOffers" asp-route-username="@this.UserManager.GetUserName(this.User)">Sold offers</a>
            </li>
            <li>
                <a asp-controller="Offers" asp-action="BoughtOffers" asp-route-username="@this.UserManager.GetUserName(this.User)">Bought offers</a>
            </li>
        </ul>
    </div>
</div>