@using PlayersBay.Data.Models
@using PlayersBay.Common
@model IEnumerable<PlayersBay.Services.Data.Models.Users.UserViewModel>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "All Users";
}

@await this.Html.PartialAsync("_PanelNav")

<h2 class="text-center">Users</h2>
<table id="all-users" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                Role
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="col-md-3">@item.Id</td>
            <td class="col-md-1">@item.Username</td>
            <td class="col-md-1">@item.Email</td>
            <td class="col-md-1">@item.Balance</td>
            <td class="col-md-2">
                @{
                    var user = this.SignInManager.UserManager.Users.FirstOrDefault(x => x.UserName == item.Username);
                }
                @if (this.SignInManager.UserManager.IsInRoleAsync(user, GlobalConstants.AdministratorRoleName).Result)
                {
                    <span>Admin</span>
                <td>
                    <span>No actions available</span>
                </td>
            }
            else if (this.SignInManager.UserManager.IsInRoleAsync(user, GlobalConstants.ModeratorRoleName).Result)
            {
                <span>Moderator</span>
                <td>
                    <a class="btn btn-green"asp-controller="Users" asp-action="DemoteUserFromModerator" asp-route-id="@item.Id" >Make User</a>
                    <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                </td>
            }
            else
            {
                <span>User</span>
                <td>
                    <a asp-action="MakeUserModerator" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-green">Make Moderator</a>
                    <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                </td>
                
            }







            </tr>
            }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#all-users').DataTable();
        });
    </script>
}