@model IEnumerable<PlayersBay.Services.Data.Models.Offers.OfferViewModel>

@{
    ViewData["Title"] = "All Offers";
}

@if (!Model.Any())
{
    <h2 class="text-center" style="color: #ffa709">There are no offers for @ViewData["Game"].</h2>
}
else
{
    <h2 class="text-center">All Offers for @ViewData["Game"]</h2>
    <table id="all-offers" class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Seller)
                </th>
                <th>
                    Rating
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfferType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShrotTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOnShort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDateShort)
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Seller.UserName</td>
                    <td>@await Component.InvokeAsync("RatingList", new { username = item.Seller.UserName })</td>
                    <td>@item.OfferType.ToString()</td>
                    <td>@item.ShrotTitle</td>
                    <td>$ @item.Price</td>
                    <td>@item.CreatedOnShort</td>
                    <td>@item.ExpiryDateShort</td>
                    <td class="text-center">
                        <a class="btn btn-outline-primary" asp-controller="Offers" asp-action="Details" asp-route-id=@item.Id>View</a>
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName) || this.User.Identity.Name == @item.Seller.UserName)
                        {
                            <a class="btn btn-outline-primary" asp-controller="Offers" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
                            <a class="btn btn-outline-primary" asp-controller="Offers" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#all-offers').DataTable();
        });
    </script>
}