@model PlayersBay.Services.Data.Models.Offers.OfferDetailsViewModel
@{
    this.ViewData["Title"] = "Offer details";
}

<div>
    <a href='javascript:history.go(-1)'>Return to offers</a>
</div>
<div class="container col-md-4 col-md-offset-4">
    <h2 style="font-style: italic;" class="text-center">@ViewData["Game"] offer #@Model.Id</h2>
    <hr />
    <h3 class="text-center" style="color: #00b400">@Model.Title</h3>
    <div class="text-center">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img style="height: 200px; width: 200px;" src="@Model.ImageUrl" alt="Destination image" />
        }
        else
        {
            <img style="height: 200px; width: 200px;" src="~/images/noimage.png" alt="Destination image" />
        }
    </div>
    <div>
        <label asp-for="@Model.OfferType" class="custom-label"></label>
        : @Model.OfferType
    </div>
    <div>
        <div>
            <label asp-for="OfferEnds" class="custom-label"></label>
            : @Model.OfferEnds
        </div>
    </div>
    <div>
        <label asp-for="Price" class="custom-label"></label>
        : $ @Model.Price
    </div>
    <div style="word-wrap: break-word;">
        <label asp-for="Description" class="custom-label"></label>
        : @Model.Description
    </div>
</div>
