@model PlayersBay.Services.Data.Models.Offers.OfferToEditViewModel
@{
    this.ViewData["Title"] = "Edit Offer";
    var games = this.ViewData["Games"] as IEnumerable<SelectListItem>;
}

<div class="row justify-content-center">
    <form enctype="multipart/form-data" asp-controller="Offers" asp-action="Edit" method="post">
        <div class="col-md-offset-1 col-md-4">
            <h2>Edit offer #@Model.Id</h2>
            <hr />
            <div class="form-group">
                <label asp-for="@Model.OfferType" class="custom-label"></label>
                <select class="form-control" asp-for="OfferType"
                        asp-items="@(Html.GetEnumSelectList<OfferType>())">
                    <option value="@Model.OfferType" selected="" disabled="">-- Current: @Model.OfferType --</option>
                </select>
            </div>
            <fieldset disabled="">
                <div class="form-group">
                    <label asp-for="GameId" class="custom-label"></label>
                    <select asp-for="GameId" asp-items="games" class="form-control">
                        <option selected="" disabled="">--Select game--</option>
                    </select>
                    <span asp-validation-for="GameId" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group">
                <div>
                    <label asp-for="Duration" class="control-label custom-label"></label>
                </div>
                <input asp-for="Duration" type="radio" value="7" /> 7 Days
                <input asp-for="Duration" type="radio" value="15" /> 15 Days
                <input asp-for="Duration" type="radio" value="30" checked="checked" /> 30 Days
            </div>
            <div style="font-style: italic; color: azure; font-size: 16px;">Current Expiration Date is: @Model.ExpiryDate</div>
            <div class="form-group">
                <label asp-for="Price" class="control-label custom-label"></label>
                <input asp-for="Price" class="form-control" step=0.01/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label custom-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-4">
            <div class="form-group">
                <label asp-for="Description" class="control-label custom-label"></label>
                <textarea rows="7" cols="20" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="custom-label">Current Image:</label>
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img style="height: 200px; width: 200px;" src="@Model.ImageUrl" alt="Destination image" />
                }
                else
                {
                    <img style="height: 200px; width: 200px;" src="~/images/noimage.png" alt="Destination image" />
                }
            </div>
            <div class="form-group">
                <p class="custom-label">New image</p>
                <input type="file" asp-for="NewImage" name="NewImage" />
                <span asp-validation-for="NewImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageToBuyer" class="control-label custom-label"></label>
                <textarea asp-for="MessageToBuyer" class="form-control"></textarea>
                <span asp-validation-for="MessageToBuyer" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Edit offer</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
